# gitignore
/package-lock.json
/node_modules/
/cypress/fixtures/
/cypress/e2e/step_definitions/evidencias/
/cypress/e2e/step_definitions/resources/
/cypress/e2e/report.js
/cypress/e2e/cucumber-report/
/cypress/e2e/cucumber-json/
